:root {
    font-size: 12px;
  
    @media (min-width: 900px) {
      font-size: 22px;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  // @media (min-width: 900px) {
  //   body {
  //     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS0IQhVr9DDJCq61QX28zCoiqDrvezBh5ylw&s");
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     background-position: right;
  //   }
  // }
  
  .header {
    background-color: red;
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }
  
  main {
    flex: 1;
    padding: 1rem;
  }
  
  .hero {
    background-color: yellow;
    height: 150px;
    padding: 1rem;
  
    &__top {
      background-color: #4d571d;
      height: 30%;
    }
  
    &__bottom {
      height: 70%;
      background-color: #ff0084;
    }
  
    @media (min-width: 600px) {
      display: flex;
  
      &__top {
        flex: 1;
        height: 100%;
      }
  
      &__bottom {
        flex: 1;
        height: 100%;
      }
    }
  
    @media (min-width: 900px) {
      &__top {
        background-color: #0efe8e;
      }
    }
  
    @media (min-width: 1400px) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  
  .tools {
    background-color: pink;
  
    &__items {
      padding: 1rem;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
  
      @media (min-width: 900px) {
        grid-template-columns: repeat(4, 1fr);
      }
  
      @media (min-width: 1200px) {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  
    &__item {
      height: 100px;
      border: 1px solid orange;
      background-color: red;
      color: white;
    }
  }
  
  .pricing {
    background-color: blue;
    height: 150px;
  }  